@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@media only screen and (max-width: 600px) {

  #songName { 
     font-size: 3vw; 
  }

}

* {
  font-family: 'DM Sans', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #181d1e;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffd3e9;
  margin: 0px 40px;
  text-align: right;
  padding-top: 20px;
  font-size: 28px;
}

#karaoke {
  color: rgb(255, 79, 120);
}

div.items {
  font-size: medium;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffc6db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

div.items:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

div.items>div {
  padding: 5px;
}

.song {
  border-radius: 10px;
  background-color: hotpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  margin: 10px 0;
}

.song:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.albumArt {
  width: 20%;
  display: inline-block;
  position: relative;
  margin: 1.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.lyrics {
  white-space: pre-line;
  width: 100%;
  font-size: 2.5vmin;
  padding-left: 10px;
  line-height: 180%;
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 2.5vw;
}

#songName {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: -0.2vw;
  margin-top: -0.2vw;
  color: #000000;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#artists {
  font-size: 2.5vw;
  margin-top: -2px;
  color: black;
  text-align: right;
  margin-right: 0.3vw;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100% - 40px;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.insideAcrdn {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

div.test {
  color: #004d40;
  font-size: xx-large;
  white-space: pre-line;
}
