* {
  font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: #c4ffe0;
}

div.items {
  font-size: medium;
  margin: 10px;
  padding: 20px;
  border: solid; 
  background-color: aquamarine;
}

div.items > div {
  padding: 5px;
}

.song {
  padding: 20px;
  border: solid;
  background-color: #00e489;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.song:hover {
  background-color: #03d681;
}

.lyrics {
  white-space: pre-line;
  width: 100%;
  margin-left: 10px;
}

#plus {
  margin-left: auto;
  margin-right: 20px;
  font-size: 30px;
}

#songName {
  font-size: 18px;
  align-items: center;
  margin-left: 10px;
}

button {
  padding: 20px;
  margin: 10px;
  flex-wrap: wrap;
  border: solid;
  cursor: pointer;
  font-size: 18px;
  background-color: #00a7e4;
}

button:hover {
  background-color: #0382d6;
}