@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@media only screen and (max-width: 600px) {
  #songName { 
    font-size: 3vw; 
  }
}

* {
  font-family: 'DM Sans', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 2;
  /* border: solid red; */
}

html {
  background-color: #181d1e;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(20px, 2vw, 28px);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  z-index: 1;
}

.profile {
  margin-left: auto;
}

.profile-wrapper {
  font-weight: 400;
  margin: 30px;
  font-size: clamp(18px, 2vw, 26px);
}

.profile-icon {
  display: flex;
  align-items: center;
}

.profile-text {
  display: flex;
  font-size: clamp(18px, 2vw, 26px);
  flex-direction: column;
  margin-right: 15px;
}

.profile-name {
  margin-bottom: 5px;
}

.log-out {
  font-size: clamp(12px, 2vw, 20px);
  color: #a7a7a7;
}

.log-out:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-icon img {
  width: clamp(40px, 4vw, 60px);
  height:clamp(40px, 4vw, 60px);
  border-radius: 50%;
}

.header {
  margin: 0px 20px;
  padding: 10px;
  z-index: 1;
  transition: text-shadow 0.3s ease;
}

.list-heading {
  margin: 40px 40px 20px 20px;
  display: flex;
  gap: 2vw;
}

#accordion-heading-back {
  font-weight: 600;
  font-size: clamp(36px, 4.8vw, 60px);
  padding-top: 10px;
}

#accordion-heading-name {
  font-weight: 600;
  font-size: clamp(48px, 6vw, 72px);
}

.white {
  color: white;
}

.white:hover {
  text-shadow: 0px 0px 12px white;
}

.primary-blue {
  color:rgb(74, 110, 231);
}

.primary-green {
  color:rgb(23, 181, 120);
}

.primary-green:hover {
  text-shadow: 0px 0px 12px rgb(114, 228, 184);
}
.secondary-green:hover {
  text-shadow: 0px 0px 12px rgb(114, 228, 184);
}

.primary-blue:hover {
  text-shadow: 0px 0px 12px rgb(145, 161, 252);
}
.secondary-blue:hover {
  text-shadow: 0px 0px 12px rgb(145, 161, 252);
}

.primary-pink:hover {
  text-shadow: 0px 0px 12px rgb(255, 187, 230);
}
.secondary-pink:hover {
  text-shadow: 0px 0px 12px rgb(255, 187, 230);
}

.secondary-pink {
  color:rgb(255, 150, 204);
}

#playlist-name-heading {
  color:rgb(255, 200, 228);
}

.secondary-blue {
  color:rgb(166, 185, 243);
}

#your-playlists-heading {
  color:rgb(195, 208, 246);
}

.secondary-green {
  color:rgb(106, 238, 187);
}

#spotify-playlists-heading {
  color:rgb(219, 255, 241);
}

.user-music-bar {
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  margin-left: 20px;
  display: flex; /* Align list items in a row */
  gap: 10px; /* Space between buttons */
  flex-wrap: wrap;
}

.user-music-redirector {
  background-color: rgb(74, 110, 231); /* Background color of the buttons */
  color: #fff; /* Text color */
  padding: 14px 22px; /* Padding inside the buttons */
  border-radius: 50px; /* Completely rounded sides */
  text-align: center; /* Center text inside the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: clamp(14px, 1.6vw, 20px); /* Font size for the text */
  font-weight: 500; /* Font weight for the text */
}

.user-music-redirector a {
  color: #fff; /* Text color inside the button */
  text-decoration: none; /* Remove underline from links */
}

.user-music-redirector:hover {
  background-color: rgb(29, 78, 240); /* Darker background on hover */
}

.primary-pink {
  color:hotpink;
}

.primary-white {
  color: white;
}

div.items {
  font-size: clamp(14px, 1.5vw, medium);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 200, 228);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

div.items:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

div.items>div {
  padding: 5px;
}

.id {
  font-size: clamp(12px, 2vw, 16px);
  font-weight: bold;
}

.song {
  border-radius: 10px;
  background-color: hotpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.song:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.albumArt {
  width: clamp(50px, 20%, 140px);
  display: inline-block;
  position: relative;
  margin: 1.5vw;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.lyrics {
  white-space: pre-line;
  width: 100%;
  font-size: clamp(16px, 2.5vmin, 20px);
  padding-left: 10px;
  line-height: 180%;
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 2.5vw;
  max-width: 70%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#songName {
  font-size: clamp(20px, 6vw, 64px);
  font-weight: bold;
  margin-bottom: -0.2vw;
  margin-top: -0.1vw;
  color: #000000;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#artists {
  font-size: clamp(12px, 2.5vw, 28px);
  margin-top: -0.1vw;
  color: black;
  text-align: right;
  margin-right: 0.3vw;
  margin-bottom: 0.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.insideAcrdn {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 100%;
}

div.test {
  color: #004d40;
  font-size: clamp(18px, 4vw, 32px); /* Added clamp */
  white-space: pre-line;
}

.playlistList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.playlistCards {
  background-color: rgb(23, 181, 120);
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

#userCard {
  background-color: rgb(74, 110, 231);
}

.playlistCards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.playlist-image {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
  overflow: none;
  object-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.playlist-name {
  font-size: clamp(20px, 2vw, 30px);
  font-weight: bold;
  padding: 15px 5px 5px 5px;
  margin: 0;
  word-wrap: break-word;
  overflow: hidden;
  hyphens: auto;
  text-overflow:clip;
}

.playlist-description {
  font-size: clamp(14px, 1.4vw, 21px);
  padding: 5px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.4em; /* adjust based on your line height */
  max-height: 4.2em; /* should be line-height * number of lines */
}


.frontpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/album_collage.png");
  background-size: cover; /* Covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  width: 100%; /* Sets the container width to 100% of the viewport */
  min-height: 90vh;
  
  margin: 0;

  &::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute position to overlay on top of the background */
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 0; /* Ensure the overlay is behind the content */
  }
}

.frontpage-container h1 {
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.tagline, .subtagline {
  position: relative;
  z-index: 1; /* Place content above the overlay */
}

.tagline {
  margin-bottom: 10px;
  width: 60%; 
}

.tagline-text {
  font-size: clamp(60px, 6vw, 120px);
  font-weight: bold;
}

.subtagline {
  margin-bottom: 20px;
  width: 35%;
}

.subtagline-text {
  font-size: clamp(20px, 2.4vw, 40px);
  font-weight: 500;
}

.home-link:hover {
  transform: scale(1.02);
}

.link-1 {
  transition: color 0.1s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow */
}

.link-1:hover {
  color: rgb(139, 159, 255); /* Color on hover */
  text-shadow: 0px 0px 12px rgb(152, 186, 255); /* Shadow with horizontal offset, vertical offset, blur radius, and color */
}

.link-2 {
  transition: color 0.1s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow */
}

.link-2:hover {
  color: rgb(106, 238, 187); /* Color on hover */
  text-shadow: 0px 0px 12px rgb(106, 238, 187); /* Shadow with horizontal offset, vertical offset, blur radius, and color */
}